
/*---------------Colors*/
.bg-color-contact{
    background-color: #fff;
  }
  
  /*---------------Contact Page*/
  /*----------------Image*/
  
  .img-contact{
    width: 100%;
    height: auto;
    padding: 0;
    margin:0;
  }
  
  hr{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    background-color: black;
    opacity: 50;
}

  /*----------------Text Box*/
  .text-box{
  width: auto;
  align-items: center; 
  margin: auto;
  border: 2px solid black;
  padding: 10px;
  }
  
  /*----------------Form*/
  .contact-heading{
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .text-center{
  text-align: center;
  }
  
  .center-form{
 width: auto;
  }
  
  button[type="submit"] {
  color: #fafafa;
  background-color: #e84610;
  }
  
  .inline-block{
  display: inline-block
  }
  
  /*---------------About Page*/
    /*----------------Top Image*/
  .img-about{
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
}
    /*----------------Margin for Top Image*/
    .margin-top{
      margin-top: 50px;
      margin-bottom: 50px;
  }


/*----------------Carousel*/


  /*----------------Biography*/
.bio{
  width: 100%;
}



