/*---------------Colors*/
.bg-color-contact {
  background-color: #fff;
}

/*---------------Contact Page*/
/*----------------Image*/

.img-contact {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

/*----------------contact details*/
.image-background {
  background-image: url("/assets/images/Obilteration-Room.jpg");
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.image-text {
  position: absolute;
  top: 26rem;
  left: 6rem;
  z-index: 1;
  color: #fafafa;
  font-family: "Varela", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-shadow: 120px 80px 40px 20px #000;
  font-style: italic;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  right: 20px;
  margin-right: 2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 2px;
  background-color: black;
  opacity: 50;
}

/*----------------Text Box*/
.text-box {
  width: auto;
  align-items: center;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
}

/*----------------Form*/
.contact-heading {
  margin-top: 50px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.center-form {
  width: auto;
}

button[type="submit"] {
  color: #fafafa;
  background-color: #e84610;
}

.inline-block {
  display: inline-block;
}

/*---------------About Page*/
/*----------------Top Image*/
.img-fluid.img-about {
  width: 100%;
  height: auto;
  padding-left: 0;
  margin: 0;
}

.image-background-about{
  background-image: url("/assets/images/yayoi\ kusama.jpg");
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------------Carousel*/
.img.d-block.w-100 {
  max-height: 50%;
  max-width: 50%;
  height: 60%;
  width: 60%;
  margin: 20px auto;
}

/* #carousel-div {
} */

.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

.img.d-block.w-100 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
  filter: invert(50%);
}

/*----------------Biography*/
.bio {
  width: 100%;
}

/* ----Footer----- */

.footer {
  text-align: center;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #fae028;
}

#footer-details {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}