

/*---------------Colors*/
.bg-color-contact{
    background-color: #fff;
  }
  
  /*----------------Image*/
  
  .img-fluid{
    width: 100%;
    height: auto;
    padding: 0;
  }
  
  /*----------------Text Box*/
  .text-box{
    width: 300px;
  align-items: center; 
  margin: auto;
  }
  
  /*----------------Form*/
  .contact-heading{
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .text-center{
  text-align: center;
  }
  
  .center-form{
  margin: 0 auto; 
  }
  
  button[type="submit"] {
  color: #fafafa;
  background-color: #e84610;
  }
  
  .inline-block{
  display: inline-block
  }
  
  
  