/* -------Header-------- */
.name {
    text-align: left;
    padding: 10px;
}

.announcement {
    text-align: center;
}

/* -----Navbar----- */
.navbar {
    text-align: center;
}

/* -----Container image------ */
.callout-container {
    height: 100vh;

    background: url("../images/YK\ portrait.png") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

p.learn-more {
  font-weight: 600;
}

p.learn-more:hover {
  width: 150px;
  height: 150px;
  padding-top: 40%;
  border-radius: 50%;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: #fafafa;
  background: #fae028;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

/* ----Footer----- */

.footer {
    text-align: center;
}

.social-links {
    padding-bottom: 15px;
  }
  
  .social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  
  .social-links li a i:hover {
    background: #fae028;
  }

  #footer-details {
text-align: center;
padding-top: 15px;
padding-bottom: 5px;
}
