/* -------Header-------- */
.name {
    text-align: center;
}

.announcement {
    text-align: center;
}

/* -----Navbar----- */
.navbar {
    text-align: center;
}

/* -----Container image------ */
.callout-container {
    height: 100vh;

    background: url("../images/YK\ portrait.png") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* ----Footer----- */

.footer {
    text-align: center;
}

.social-links {
    padding-bottom: 15px;
  }
  
  .social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  
  .social-links li a i:hover {
    background: #fae028;
  }

  #footer-details {
text-align: center;
padding-top: 15px;
padding-bottom: 5px;
}


/* ----Nicole----- */

/*---------------Colors*/
.bg-color-contact{
  background-color: #fff;
}

/*----------------Image*/

.img-fluid{
  width: 100%;
  height: auto;
  padding: 0;
}

/*----------------Text Box*/
.text-box{
  width: 300px;
align-items: center; 
margin: auto;
}

/*----------------Form*/
.contact-heading{
  margin-top: 50px;
  margin-bottom: 20px;
}

.text-center{
text-align: center;
}

.center-form{
margin: 0 auto; 
}

button[type="submit"] {
color: #fafafa;
background-color: #e84610;
}

.inline-block{
display: inline-block
}


